  .flex-container {
      display: flex;
      border: 1px solid black;
      max-width: 400px;
      margin-bottom: 10px;
      margin: 10px;
  }
  
  .item {
      background-color: rgb(163, 197, 219);
      color: blueviolet;
      font-size: 24px;
      text-align: center;
      margin: 5px;
      flex: 1;
  }
  
  .o1 {
      order: 1;
  }
  
  .o2 {
      order: 2;
  }
  
  .o3 {
      order: 3;
  }
  
  .o4 {
      order: 4;
  }
  
  .direction {
      flex-direction: column;
  }