.card {
 background-color: red;
 border: 3px solid red;
 border-radius: 10px;
 overflow: hidden;
 font-family: Roboto;
 text-align: center;
 margin: 10px;

 display: flex;
 flex-direction: column;
 min-width: 300px;
 max-width: 300px;
}
.card .titulo {
 padding: 5px 0px;
 display: flex;
 justify-content: center;
 color: aliceblue;
 flex-grow: 1;
 }
.card .conteudo {
 background-color: white;
 color: black;
 padding: 10px;
}
