
<app-form-posts
    (formEvent)="saveOrUpdatePost($event)"
></app-form-posts>


<div class="wall" *ngFor="let c of dataSource">

    <mat-card >
        <mat-card-title>{{c.title}}</mat-card-title>
        <mat-card-subtitle>{{c.body}}</mat-card-subtitle>
        <mat-card-content>
           <p>User ID: {{c.userId}}</p>
           <p>ID: {{c.id}} </p> 
        </mat-card-content>
        <mat-card-actions align="end">
          <!-- <button mat-button>Like</button>
          <button mat-button>SHARE</button> -->
          <button mat-button color="danger" (click)="onDelete(c)" >DELETE</button>
        </mat-card-actions>
      </mat-card>

</div>
