* {
    box-sizing: border-box;
}

:root {
    --containerSize: 1000px;
    --gutter: 15px;
}


/* Grid */

.container {
    width: var(--containerSize);
    display: block;
    margin: 0 auto;
    padding: var(--gutter);
}

.container-fluid {
    width: 100%;
    display: block;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-left: calc(0px - var(--gutter));
    margin-right: calc(0px - var(--gutter));
}

.col {
    float: left;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-1 {
    width: 8.33333%;
}


/* Visual */

* {
    text-align: center;
}

.item {
    background: #ddd;
    border: 1px solid #bbb;
    padding: 15px;
    overflow: hidden;
}